
{{> adminHeader}}

<main>
        <h1 class="title">{{title}}</h1>
    {{#each blogs}}
        <article class="article__container">
            <div class="article__header">
                <h2><a href={{href}}>{{title}}</a></h2>
            </div>
            <p class="article__brief">{{blog}}</p>
            <p class="article__date">Posted: {{publish_date}}</p>
        </article>
    {{/each}}
</main>

{{> adminFooter}}
