
{{> header}}

<div>
    {{#each errors}}
        <p>{{msg}}</p>
    {{/each}}
    {{username}}
</div>
<div class="form__container">
    <h1>{{title}}</h1>
    <form action="/user/register" method="post">
        <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username" value={{registerFields.username}}>
            <span id="username__span" class="invalid"></span>
        <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="E-mail" value={{registerFields.email}}>
            <span id="email__span" class="invalid"></span>
        <label for="firstname">First Name</label>
            <input type="text" name="firstname" id="firstname" placeholder="First Name" value={{registerFields.firstname}}>
            <span id="firstname__span" class="invalid"></span>
        <label for="lastname">Last Name</label>
            <input type="text" name="lastname" id="lastname" placeholder="Last Name" value={{registerFields.lastname}}>
            <span id="lastname__span" class="invalid"></span>
        <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">
            <span id="password__span" class="invalid"></span>
        <label for="confirmpassword">Re-Enter Password</label>
            <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password">
            <span id="confirmpassword__span" class="invalid"></span>
        <button type="submit">Submit</button>
    </form>
    <p>Already a user? <a href="login">Login here</a></p>
</div>

<footer>
        <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
        </ul>
</footer>
<script src = '../script/validate.js'></script>